[Greeter]
#background=/usr/share/backgrounds/exodus0.jpg
draw-user-backgrounds=false
theme-name={{theme.style.name}}
icon-theme-name={{theme.icon.name}}
font-name={{theme.font.name}}
logo=/usr/share/plymouth/ubuntu-logo.png

